%html
  %head
    %title Yammook
    :stylesheet
      body { background-color: #EFEFEF; }
      #container { width: 400px; height: 400px; background-color: #FFF; font-size: 20px; border: solid 10px #DDD; padding: 25px; margin: 50px auto; font-family: sans-serif; box-shadow: 0px 0px 7px #888; }
      #container a { color: #336699; }
  %body
    #container
      %header
        %h1 Yammook
      = yield

